.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 300px;
}
.cancel-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px;
  margin: 8px;
  background-color: #7c69e9;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: block;
}
.popup-content .logout-btn {
  display: block !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white !important;
  padding: 8px 15px;
  margin: 8px;
  background: #3b82f6 !important;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}


.popup-btn-containers
{
  display:flex;
}