.top-nav {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;

  border-bottom: 1px solid #e5e5e5;
  
}

/* LEFT + RIGHT SECTIONS */
.section-1,
.section-2 {
  display: flex;
  align-items: center;
  height: 100%;
}

.theme-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.top-nav.black-theme .theme-btn {
    color: #ffffff;
}

/* LOGO */
.logo {
  height: 32px;
  display: block;
}

/* RIGHT SIDE ITEMS */
.section-2 {
  gap: 18px;
}

/* TEXT FIX */
.section-2 p {
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}

/* PROFILE IMAGE */
.profile-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: block;
}

/* BUTTON RESET */
.logout-btn {
  border: none;
  cursor: pointer;

  padding: 6px 12px;
  background: #3b82f6;
  color: white;
  border-radius: 4px;

  display: none; /* hidden on mobile by default */
}

/* MOBILE ICON */
.logout-icon-mobile {
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

/* GLOBAL IMAGE + SVG FIX */
img {
  display: block;
}

svg {
  display: block;
}

/* MOBILE FIRST (hide desktop items) */
.profile-img {
  display: none;
}



.black-theme
{
  background-color: black;
}

.white-theme
{
  background-color: white;
}


/* RESPONSIVE */
@media (min-width: 768px) {
  .profile-img {
    display: block;
  }

  .logout-btn {
    display: block;
  }

  .logout-icon-mobile {
    display: none;
  }
}


.top-nav.black-theme {
    color: #ffffff;
    border-bottom: 1px solid #333333;
}

.top-nav.black-theme .theme-text {
    color: #ffffff;
}

.top-nav.black-theme .logout-icon-mobile {
    color: #ffffff;
}