.trending-title-black-theme
{
    color:#A5D6FF;
}   

.trending-title-white-theme
{
     color: #0f0f0f;
}


.trending-channel-name-black
{
    color:#A5D6FF;
}


.trending-channel-name-white
{
     color: #0f0f0f;
    
}


.view-black-theme
{
        color:#A5D6FF;

}


.view-white-theme
{
    color:#0f0f0f;
}